.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1a1a1a; /* Màu nền   ồng bộ với màu nền trang */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Ngăn chặn cuộn ngang không mong muốn */
}
:root {
  --background-light: #ffffff;
  --text-light: #1a1a1a;
  --background-dark: #1a1a1a;
  --text-dark: #ffffff;
}

/* Default light theme styles */
body {
  background-color: var(--background-light);
  color: var(--text-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark theme styles */
body.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

/* Thêm các styles khác cho dark mode nếu cần */
